#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

override_dh_auto_configure:
	dh_auto_configure -- --enable-ubuntu

override_dh_strip_nondeterminism:

override_dh_update_autotools_config:

override_dh_systemd_start:
	dh_systemd_start --no-also \
		/lib/systemd/system/grub-initrd-fallback.service

%:
	dh $@
